@model Models.Order

@{
ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

<div>
    <h2>Order ID: @Model.OrderId</h2>
    <p>Status: @Model.Status</p>
    <h3>Items</h3>
    <ul>
        @foreach (var item in Model.OrderItems)
        {
        <li>@item.ProductName - @item.Quantity - @item.Price $</li>
        }
    </ul>
</div>
